
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    background-color: #f1f5f9;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 1px rgba(111, 111, 111, 0.75);
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-element {
    height: 40px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-image {
    height: 25px;
    width: 25px;
}

.horizontal-line {
    width: 100%;
    margin: 0;padding: 0;
}

.cities-bg-container {
    width: 80%;
    margin-top: 20px;
}

.cities-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.city {
    height: 250px;
    width: 300px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-image {
    width: 100%;
    height: 200px;
    border-radius: 14px;
}

@media (max-width: 768px) {
    .heading {
        font-size: 25px;
    }
    .search-container {
        width: 80%;
    }
    .cities-bg-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cities-container {
        margin-left: -40px;
    }
    .city {
        height: 100%;
        width: 250px;
    }
    .city-image {
        height: 150px;
    }
}